- return unless can_admin_group_member?(group)

.js-invite-members-modal{ data: { is_project: 'false',
  access_levels: group.access_level_roles.to_json,
  reload_page_on_submit: local_assigns.fetch(:reload_page_on_submit, false).to_s,
  help_link: help_page_url('user/permissions') }.merge(common_invite_modal_dataset(group)).merge(users_filter_data(group)) }
